body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.container-fluid {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.back {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("assests/back3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 730px;
}

.back2 {
  background: linear-gradient(rgba(250, 190, 0, 0.1), rgba(250, 190, 0, 0.1));
  height: 640px;
}

.scoreGame {
  font-size: 28px;
  color: white;
  font-weight: bold;
}

#plateau {
  margin: auto;
  position: relative;
}

#pion {
  width: 40px;
  height: 40px;
  background-image: url("/assests/spritesheet.png");
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.title1 {
  font-size: 32px;
}

.characters {
  max-height: 30px;
  margin-bottom: 20px;
}
