.explosion {
  position: absolute;

  background-image: url(./pictures/explosion.png);
  animation: explosion-fade 1s ease-out;
  z-index: 3;
}

.explosion-hitbox {
  position: absolute;
  background: transparent;
  z-index: 2;
}

@keyframes explosion-fade {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/*--------------- BOMB CSS ------------------------ */
.bomb {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.explosion {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: explosion 1s;
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*-----------------------------------------------------*/
