body {
  background-color: #838282; /* Gray color */
}
@font-face {
  font-family: "bomberman";
  src: url("./pictures/Font/Bomberman-font.ttf");
}
#gameGrid {
  position: absolute;
  margin: auto;
  display: grid;
  gap: 0px;
}
/* Style the timer element */
#timer {
  /* Position the timer at the top right corner of the screen */
  position: absolute;
  top: 21px;
  left: 150px;
  cursor: default;

  /* Set the font size and family */
  font-size: 24px;
  font-family: bomberman;

  /* Set the color and background */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.tile {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.floor {
  background-image: url(./pictures/floor.png);
}

.wall {
  background-image: url("./pictures/Side\ Wall\ Rock.png");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.mapWall {
  background-image: url("./pictures/Side%20Wall%20Rock.png");
}

.breakable {
  background-image: url(./pictures/wood%20box.png);
}

.enemy {
  background-color: red;
}
/*--------------- BOMB CSS ------------------------ */
.bomb {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.explosion {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: explosion 1s;
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------------------------------*/
.power-up {
  background-image: url("./pictures/power-up.png");
}

.player {
  background-image: url("./pictures/floor.png");
}

#game-container {
  background-color: gray;
  height: 832px;
  width: 960px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}

/* Média query pour adapter les styles à différentes tailles d'écran */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 64px);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(6, 64px);
  }
}
