@font-face {
  font-family: "bomberman";
  src: url("./pictures/Font/Bomberman-font.ttf");
}

#gameGrid {
  position: absolute;
  margin: auto;
  display: grid;
  gap: 0px;
}

.tile {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.floor {
  background-image: url(./pictures/floor.png);
}

.wall {
  background-image: url("./pictures/Side\ Wall\ Rock.png");
}

.mapWall {
  background-image: url("./pictures/Side\ Wall\ Rock.png");
}

.breakable {
  background-image: url(./pictures/wood_box.png);
}

.enemy {
  background-image: url(./pictures/floor.png);
}

.bomb {
  background-image: url("./pictures/bomb.png");
}
/*--------------- BOMB CSS ------------------------ */
.bomb {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.explosion {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: explosion 1s;
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------------------------------*/

.power-up {
  background-image: url("./pictures/power-up.png");
}

.player {
  background-image: url("./pictures/floor.png");
}

#game-container {
  height: 832px;
  width: 960px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}

/* Média query pour adapter les styles à différentes tailles d'écran */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 64px);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(6, 64px);
  }
}
