.grid {
  margin: auto;
  display: grid;
  gap: 0px;
}

.tile {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.floor {
  background-image: url(./pictures/floor.png);
}

.wall {
  background-image: url("./pictures/Side\ Wall\ Rock.png");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  color: white;
}

.mapWall {
  background-image: url("./pictures/Side\ Wall\ Rock.png");
}

.breakable {
  background-image: url(./pictures/bloc\ wall\ in.png);
}

.player {
  background-image: url(./pictures/Bomberman.png), url(./pictures/floor.png);
}

.enemy {
  background-color: red;
  color: white;
}

.fps {
  background-color: green;
  color: white;
  font-weight: bold;
  text-align: left;
}
.bomb {
  background-color: red;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.explosion {
  background-color: orange;
}
