@font-face {
  font-family: "bomberman";
  src: url("../Font/Bomberman-font.ttf");
}

#background-game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

#menu-content {
  position: relative;
  z-index: 1;
}

#button-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#press-start-container {
  margin-top: 830px;
  margin-left: -50px;
}

#press-start {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  animation: moveZoom 2s infinite;
}

#press-start img {
  width: 150px; 
  background: transparent; 
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  height: 832px;
  width: 960px;
}

#gameGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  box-sizing: border-box;
}

.tile {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.floor {
  background-image: url(../pictures/floor.png);
}

.wall {
  background-image: url("../pictures/Side Wall Rock.png");
}

.mapWall {
  background-image: url("../pictures/Side Wall Rock.png");
}

.breakable {
  background-image: url(../pictures/wood_box.png);
}

.enemy {
  background-image: url(../pictures/floor.png);
}

.bomb {
  background-image: url("../pictures/bomb.png");
}

.power-up {
  background-image: url("../pictures/power-up.png");
}

.player {
  background-image: url("../pictures/floor.png");
}

@keyframes moveZoom {
  0% {
    transform: translateX(0px) scale(1); /* Ajustez cette valeur pour centrer l'animation */
  }
  50% {
    transform: translateX(0px) scale(1.1); /* Ajustez cette valeur pour centrer l'animation */
  }
  100% {
    transform: translateX(0px) scale(1); /* Ajustez cette valeur pour centrer l'animation */
}
}  

/* Média query pour adapter les styles à différentes tailles d'écran */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 64px);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(6, 64px);
  }
}
